*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

 /* barra navigazione */
#navigatore{   
    width: 100%;
    top: 0px;
    z-index: 999;
    position: fixed;
    background-color: white;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

#logo-small{
    display: inline-block;
    padding: 1.2%;
    margin-right: 2%;
}

#link_nav{
    display: inline-block;
    width: 80%;
    font-weight: 500;
}

.nav_principale{
    display: inline-block;
    margin: 10px;

}

.nav_principale li{
    text-decoration: none;
    display: inline;
    margin-right: 10px;
}
li a{
    text-decoration: none;
    color: black;
}

#nav_sinistra{
    float: right;
}

/* tendine menù */

.nav_principale li{
    position: relative;
 
}

.menu_supporto_a{
    float: none;
    position: absolute;
    width: 180px;
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    display: none;
    z-index: 9999;
    padding: 0 10px 10px 10px;
    
}

.menu_supporto_a li{
    margin-bottom: 10px;
    display: block;
    top: 15px;
}

#menu_supporto_:hover .menu_supporto_a{
    display: block;
}

#menu_contatta:hover .menu_supporto_a{
    display: block;
}

#menu_contatta_a{
    margin-left: 80px;
}



/* fine tendine menù */

.button {
    background-color: #0061ff;
    padding: 10px;
    display: inline-block;
}

.button a{
    color: white;
    text-decoration: none;
}

#primo_bottone{
    margin: 1.2%;
    float: right;
}

/* inizio jumbotroll */
#jumbotroll{
    background-color: #b4d0e7;
    width: 100%;
    height: 850px;
    margin-top: 5%;
}

#jumbotroll h1{
    padding: 5% 10% 2% 10%;
    font-size: 85px;
}

#text_jumbotroll{
    width: 25%;
    margin: 0 2% 0 10%;
    float: left;
    font-size: 20px;
    font-weight: 600;
}

.spazio{
    margin-bottom: 20px;
}

#img_jubotroll{
    height: 60%;
    width: 55%;
    float: left;
}

#img_jubotroll img{
    object-fit: cover;
    width: 100%;
    height: auto;
}

#button_jumbotron{
    margin-top: 30px;
    padding: 10px 30px;
}
#annulla{
    font-size: 16px;
    margin-bottom: 50px;
}

#annulla a{
    text-decoration: none;
    color: black;
}
#text_jumbotroll .fa-solid, .fa-arrow-down{
    font-size: 50px;
}

/* main  */
.conteiner{
    width: 70%;
    margin: auto;
}
/* sezione offerte */
#offerte{
    margin-top: 25%;
}

#offerte h1{
    font-size: 40px;
    padding-bottom: 60px;
}

/* Fatturazione */
.fattura input[type=radio]{
    cursor: pointer;
    transform: scale(2);
    margin-left: 9px;
}

.fattura label{
    cursor: pointer;
}




.fattura{
    display: inline-block;
    margin: 0 20px 50px 0;
    font-size: 20px;
    font-weight: 500;
}

.fattura input{
    margin-right: 10px;
}
 

    /* inizio colonne  */


.colonna_offerte{
    width: calc(100% / 3 - 20px);
    float: left;
    border: solid 1px gray;
    min-height: 1300px;
}

.inmezzo{
    margin: 0 30px;
}

.titolo_colonna{
    text-align: center;
    border-bottom: solid 1px gray;
    padding: 10px;
}

.corpo_colonna_sup{
    margin: 50px;
}

.periodo{
    color: gray;
    margin: 25px 0;
}
        /* lista colonna alta  */


.conteiner_lista{
    margin: 50px 0;
}

.conteiner_lista_riga{
    margin-bottom: 25px;
}

.img_lista{
    float: left;
    padding-right: 2px;
}

.testo-lista{
    width: 92%;
    float: left;
}
        
                /* fine lista colonna alta */



.button_colonna{
    padding: 10px 60px;
}


.oppure{   
     margin-bottom: 50px;
     margin-top: 50px;
}

.corpo_colonna_sup hr{
    width: 30%;
    margin-bottom: 50px;

}

.oppure a{
    color: #0061ff;
}

/* colonna parte inferiore */
.corpo_colonna_inf{
    margin: 50px;
}

.corpo_colonna_inf ul{
    list-style-image: url(img/check-v.bmp);
    margin-top: 40px;
    margin-left: 25px;
}
.corpo_colonna_inf li{
    margin-bottom: 30px;
}

/* sezione enterprice */

#enterprice{
    margin-top: 5vh;
    border: solid 1px gray;
}

 #cont_a{
    padding: 40px;
 }
.cont{
    float: left;
    width: 70%;
}

 .cont h1{
     margin-bottom: 20px;
     font-size: 35px;
 }

.cont p{
    margin-top: 30px;
}

#cont_b{
    padding-right: 80px;
    padding-left: 80px;
    float: right;
}

.cont div{
    font-weight: 700;
}

/* sezione partner */

#partner{
    margin-top:10%;
    margin-bottom: 10%;
}

#form_foto{
    width: 50%;
}

#form_foto img{
    object-fit: cover;
    width: 100%;
    height: auto;
}

#partner_a{
    width: 55%;
    height: auto;
    float: left;
}

#partner_a img{
    object-fit: cover;
    width: 100%;
    height: auto;
}

#partner_b{
    width: 45%;
    height: auto;
    float: left;
    padding: 3%;
}

#partner_b h1{
    font-size: 30px;
    margin-bottom: 4%;
}

#partner_c{
    font-size: 20px;
    margin-bottom: 4%;
    line-height: 35px;
}

#partner_d{
    border: solid 1px black;
    padding: 10px 20px;
    display: inline-block;
}

#partner_d a{
    color: black;
    text-decoration: none;
}

/* Esegui più operazioni con Dropbox Business */

#business h1{
    font-size: 50px;
    margin-bottom: 30px;
}

.card{
    width: calc(100% / 3 - 50px);
    float: left;
    /* margin-bottom: 25px;
    margin-top: 30px; */
    margin: 30px 50px 30px 0 ;
}

.cont_img{
    width: 100%;
    height: auto;
    margin-bottom: 25px;
   
}

.cont_img img{
    object-fit: contain;
    width: 100%;
}

.card h2{
    font-size: 35px;
    margin-bottom: 25px;
}

.card p{
    font-size: 20px;
}


#color_link{
    color: #0061ff;
    font-weight: 700;
}


/* sponsor team */

#membri_team{
    margin-top: 5%;
}

.column{
    width: 30%;
    height: 600px;

    float: left;
}

#column_center{
    width: 40%;
}

.box{
    width: 50%;
    height: 50%;
    float: left;
    position: relative;
}
.box_img{
    filter: white;
}


.box img{
    object-fit: contain;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

#designit{
    background-color: #a2d39b;
    border: solid 10px #d0e9cd;
}

#arizona_state_university{
    background-color: #61082b;
}

#university_of_florida{
    background-color: #0093ce;
}

#topps{
    background-color: #ff1c1c;
}

#world_bicycle_relief{
    background-color: #d5001f;
}

#hearst_corp{
    background-color: #b4d0e7;
}

#lonely_planet{
    background-color: #0d2481;
}

#clear_channel{
    background-color: #ffd830;
}

/* column_center */

#column_center{
    background-color: #f5f5f5;
    padding: 60px;
    font-size: 25px;
    overflow: scroll;
}

#column_center::-webkit-scrollbar {
    display: none;
}

#box_center{
    width: 30%;
    height: auto;
    margin-bottom: 50px;
}

#box_center img{
    object-fit: contain;
    width: 100%;
}

#hr_column_center{
    width: 10%;
    color: #dedee0;
    margin-bottom: 50px;
}

#column_center p{
    margin-bottom: 50px;
}

/* porta dropbox */

#porta_dropbox{
    height: 340px;
    background-color: #b4d0e7;
    padding: 6% 17% 0 15%;
}

#porta_dropbox h1{
    font-size: 40px;
    float: left;
    color: #61082b;
    width: 45%;
    
}

#porta_dropbo_button{
    float: right;
    background-color: white;
    padding: 10px 70px;
    font-weight: 600;
}

#porta_dropbo_button a{
    color: black;
    text-decoration: none;

}

/* domande */

#domande{
    height: 80vh;
    margin: 8% 15% 0 15%;
}

#domande h1{
    font-size: 50px;
    margin-bottom: 40px;
}

.row_domande{
    margin: 35px 0;
    cursor: pointer;
}

.testo_domande{
    float: left;
    font-size: 20px;

}

.arrow_domande{
    float: right;
    transform: scale(1.5);
    margin-right: 40px;
}



/* descrizioni a scomparsa */

.p_domande {
    margin: 2% 0 2% 0;
    font-weight: 200;
    width: 70%;
    display: none;

}

.conteiner_row:hover .p_domande{
    display: block;    

}




/* footer */

footer{
    background-color: black;
    color: white;
    padding: 8% 10% 0 10%;
}

.box_footer{
    width: 20%;
    float: left;

}

.box_footer h2{
    margin-bottom: 30px;
}

.box_footer ul{
    list-style-type: none;
}

.box_footer a{
    color: white;
}

.box_footer li{
    margin: 10px 0;
}

#end{
    margin-top: 150px;
    padding: 50px 50px 50px 0;
    border-top: solid 2px white;
    display: inline-block;
    color: gray;
    cursor: pointer;
}
